@use './typography' as *;

// Section: Intro of pages 
.page-intro {
  padding-top:10rem;
  padding-bottom:2.2rem;
 // border-bottom:1px solid white;

  h1.page-title {
    @extend %font-primary;
    font-weight: 700;
    font-size:2.9rem;
    line-height: 1.1;
    margin-bottom:2.18rem;
    max-width: 50rem;

    @media screen and (min-width:768px) {
      font-size:4rem;
    }
    @media screen and (min-width:1200px) {
      font-size:4.625rem;
    }
  }
  
  p.page-desc {
    @extend %font-geologica;
    font-weight: 300;
    font-size:1.1rem;
    line-height: 1.68rem;
    max-width: 30.77rem; 

    &.long {
      max-width:47rem;
    }

    @media screen and (min-width:768px) {
      font-size:1.375rem;
    }
  }
}

// Grid of Projects
.selected-projects {
  padding-top:6rem;

  &__black {
    background:var(--carbon);
    color:var(--white-smoke);

    .font-display {
      color:var(--white-smoke);
    }
  }
}

.section-project-grid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-x:scroll;
  margin:0 auto;
  max-width:1280px;
  gap:1.5rem;
  scrollbar-width: thin;
  scrollbar-color: var(--primary) transparent;
  padding-bottom:3rem;

  @media screen and (min-width:768px) {
    gap:1.75rem;
    padding-bottom:6.6rem;
  }
  @media screen and (min-width:1024px) {
    overflow-x: hidden;
    gap:2.5rem;
  }
  @media screen and (min-width:1200px) {
    gap:3rem;
  }


}

.project-card {
  min-width:200px;

  &__image {
    width:100%;
    max-width:100%;
    height:auto;
    margin-bottom:.75rem;
    border-radius:1.25rem;
    aspect-ratio: 4/5;
  }
  &__title {
    font-size:1.5rem;
    line-height: 150%;
    font-weight: 500;
  }
  &__desc {
    font-size:1rem;
    font-weight: 400;
    margin:0.5rem 0;
  }

  &.selected_projects__black {
    &__title {
      color:white;
    }
    &__desc {
      color:var(--white-smoke);
    }
  }

  @media screen and (min-width:768px) {
    min-width:260px;
  }
}

// Let's do this 
.lets-do-this {
  background:var(--white-smoke);
  color:var(--carbon);
  padding-top:3rem;
  padding-bottom:3rem;

  .section-title {
    @extend %font-primary;
    font-size:3.5rem;
    font-weight: 500;
    line-height: 1.1;
    max-width: 33rem;
    margin-bottom:2.5rem;
  }

  @media screen and (min-width:568px) {
    padding-top:4em;
    padding-bottom:4em;

    .section-title {
      margin-bottom:3rem;
    }
  }
  @media screen and (min-width:768px) {
    padding-top:5.5rem;
    padding-bottom:5.5rem;

    .section-title {
      margin-bottom:3.5rem;
    }
  }
  @media screen and (min-width:1024px) {
    padding-top:7rem;
    padding-bottom:7rem;

    .section-title {
      margin-bottom:5rem;
    }
  }
  @media screen and (min-width:1330px) {
    padding-top:9rem;
    padding-bottom:9rem;
  }

  &__black, .black {
    background:var(--carbon);
    color:var(--white-smoke);
  }
}