.progress-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 100px;
  height: 100px;
  z-index: 1000;
}

.scroll-circle {
  position:relative;
  width:100%;
  height:100%;
}

.progress-circle {
  transform: rotate(-90deg);
  position:relative;
  width:85px;
  height:85px;
}

.progress-bg {
  fill: none;
  stroke: rgba(255, 255, 255, 0.1);
  stroke-width: 4;
}

.progress-bar {
  fill: none;
  stroke: url(#gradient);
  stroke-width: 4;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.2s ease;
  
}

.scroll-circle .rotating-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: spin 15s linear infinite;
  transform-origin: center;
  text-transform: uppercase;
}


/* 
 .progress-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 80px;
  height: 80px;
  z-index: 1000;
}

.progress-circle {
  transform: rotate(-90deg);
}

.progress-bg {
  fill: none;
  stroke: rgba(255, 255, 255, 0.1);
  stroke-width: 4;
}

.progress-bar {
  fill: none;
  stroke: url(#gradient);
  stroke-width: 4;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.2s ease;
}

.progress-text {
  fill: #fff;
  font-size: 16px;
  font-weight: bold;
  text-anchor: middle;
} */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
